[user]
	email = andytjoslin@gmail.com
	name = Andy Joslin
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
  st = status -s
  ri = rebase -i
[core]
	excludesfile = /Users/ajoslin/.gitignore-global
	editor = /usr/bin/vim
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = true
[web]
	browser = open
[push]
	default = matching
