!.agignore
!.bash_profile
!.git-completion.sh
!.gitconfig
!.gitignore
!.gitmodules
!.oh-my-zsh/
!.vim/
!.vim/bundle/vundle
!.vimrc
!.zprofile
!.zshrc
!.zshrc.pre-oh-my-zsh
!README.md
!install.sh
!scripts
!themes
*.swp
*.zip
.vim/.netrwhist
.vim/bundle/
/*
dist
node_modules
npm-debug.log
