/*
!.agignore
!.bash_profile
!.emacs
!.emacs.d/
!.git-completion.sh
!.gitconfig
!.gitignore
!.gitmodules
!.oh-my-zsh/
!.powerline-fonts
!.slate.js
!.tmux-powerline
!.tmux-powerlinerc
!.tmux.conf
!.tmuxifier
!.vim/
!.vim/bundle/vundle
!.vimrc
!.zprofile
!.zshrc
!.zshrc.pre-oh-my-zsh
!colors
!scripts
*.html.js
*.swp
*.zip
.vim/.netrwhist
.vim/bundle/
dist
node_modules
npm-debug.log
